<div class="row">
    <div class="col-lg-12 col-md-12 stretch-card">
        <div class="card">
            <div class="card-body">
                <form name="projectForm" #projectForm="ngForm" (ngSubmit)="onSubmit(projectForm)" class="forms-sample range-selection">

                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="mb-3">
                                <label for="inputName" class="form-label required">Titulo Proyecto</label>
                                <input type="text" name="name" #name="ngModel" maxlength="255"
                                    [(ngModel)]="project.name"
                                    [ngClass]="{'ng-dirty ng-invalid' : name.errors && ( name.dirty || name.touched || projectForm.submitted) }"
                                    class="form-control" id="inputName" autocomplete="off" required>
                                <div *ngIf="name.invalid && projectForm.submitted" class="invalid-feedback">
                                    <div *ngIf="name.errors?.required">Campo es requerido</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="mb-3">
                                <label for="inputCompany" class="form-label required">Empresa</label>
                                <ng-select id="inputCompany" [items]="data.Companies" name="company"
                                    #company="ngModel"
                                    [ngClass]="{'ng-dirty ng-invalid' : company.errors && ( company.dirty || company.touched || projectForm.submitted) }"
                                    [searchable]="false" (change)="onChangeCompany($event)"
                                    [(ngModel)]="project.company" required>
                                </ng-select>
                                <div *ngIf="company.invalid && projectForm.submitted"
                                    class="invalid-feedback">
                                    <div *ngIf="company.errors?.required">Campo es requerido
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="mb-3">
                                <label for="inputStartDate" class="form-label required">Fecha Inicio</label>
                                <div class="input-group">
                                    <input id="inputStartDate" name="startDate" #startDate="ngModel"  class="form-control" placeholder="yyyy-mm-dd" name="dp"
                                    [ngClass]="{'ng-dirty ng-invalid' : startDate.errors && ( startDate.dirty || startDate.touched || projectForm.submitted) }"
                                        [(ngModel)]="project.startDate" ngbDatepicker #dp="ngbDatepicker" required>
                                    <button class="input-group-text" type="button" (click)="dp.toggle()">
                                        <i class="feather icon-calendar icon-md text-muted"></i>
                                    </button>
                                    <div *ngIf="startDate.invalid && projectForm.submitted" class="invalid-feedback">
                                        <div *ngIf="startDate.errors?.required">Campo es requerido
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="mb-3">
                                <label for="inputName" class="form-label required">Tiempo Dedicación</label>
                                <input type="text" name="hoursProject" #name="ngModel" maxlength="6"
                                    [(ngModel)]="project.hoursProject"
                                    [ngClass]="{'ng-dirty ng-invalid' : name.errors && ( name.dirty || name.touched || projectForm.submitted) }"
                                    class="form-control" id="inputHoursProject" autocomplete="off" required>
                                <div *ngIf="name.invalid && projectForm.submitted" class="invalid-feedback">
                                    <div *ngIf="name.errors?.required">Campo es requerido</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="mb-3">
                                <label for="inputDescription" class="form-label required">Descripcion</label>
                                <textarea row="3" id="description" minlength="3" placeholder="Campo tipo descripción"
                                class="form-control" maxlength="2000"
                                name="description"
                                #description="ngModel"
                                [(ngModel)]="project.description" required></textarea>
                                <div *ngIf="description.invalid && projectForm.submitted" class="invalid-feedback">
                                    <div *ngIf="description.errors?.required">Campo es requerido</div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="mb-3">
                                <label for="inputProjectManagementOffice" class="form-label required" >PMO</label>

                                <ng-select id="inputProjectManagementOffice" [items]="data.users" [multiple]=false name="projectManagementOffice" 
                                    #projectManagementOffice="ngModel"
                                    [ngClass]="{'ng-dirty ng-invalid' : projectManagementOffice.errors && ( projectManagementOffice.dirty || projectManagementOffice.touched || projectForm.submitted) }"
                                    bindLabel="label" bindValue="value"
                                    [searchable]="false" (change)="onChangeProjectManagementOfficePmo($event)"
                                    [(ngModel)]="project.projectManagementOffice" required>
                                </ng-select>
                                <div *ngIf="projectManagementOffice.invalid && projectForm.submitted"
                                    class="invalid-feedback">
                                    <div *ngIf="projectManagementOffice.errors?.required">Campo es requerido
                                    </div>
                                </div>       
                         
                                

                               

                            </div>
                        </div>
                        
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <label for="inputProjectAssignedResources" class="form-label required" >Recursos</label>

                            <ng-select id="inputProjectAssignedResources" [items]="data.users" [multiple]=true name="projectAssignedResources" 
                                #projectAssignedResources="ngModel"
                                [ngClass]="{'ng-dirty ng-invalid' : projectAssignedResources.errors && ( projectAssignedResources.dirty || projectAssignedResources.touched || projectForm.submitted) }"
                                [searchable]="false" (change)="onChangeUserResorces($event)"
                                [(ngModel)]="userseleced" required>
                                <ul>
                                    <div *ngIf="projectAssignedResources.invalid && projectForm.submitted" class="invalid-feedback">
                                        <div *ngIf="projectAssignedResources.errors?.required">Campo es requerido</div>
                                    </div>
                                </ul>
                                
                            </ng-select>

                        </div>

                      
                    </div>

                    <div class="row">
                        <div class="col-lg-12">

                            <div class="row">
                                <div class="col-lg-6"></div>
                                <div class="col-lg-6"></div>
                            </div>  
                            

                            <table datatable [dtOptions]="dtOptions" class="table table-striped" id="datatableResources1" name="datatableResources1">
                                <thead>
                                  <tr>
                                    <th>Id</th>
                                    <th>Nombre</th>
                                    <th>Horas Estimadas</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                  </tr>
                                </tbody>
                                <tfoot>
                                  <tr>
                                    <th colspan="10" class="text-right">
                                      
                                    </th>
                                  </tr>
                    
                                </tfoot>
                    
                              </table>


                          </div>
                    </div> 

                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="mb-3">
                                
                                <label for="inputBirthDate" class="form-label required">CALENDARIOS</label>
                                <div class="mt-2 d-flex align-items-center">
                                    <div class="form-check mb-2">
                                        <input type="radio" class="form-check-input"
                                            name="byCategory" value="true"
                                            >
                                        <label class="form-check-label">
                                            Calendario Básico
                                        </label>
                                    </div>
                                    <div class="form-check mb-2 mx-3">
                                        <input type="radio" class="form-check-input"
                                            name="byCategory" value="false"
                                            >
                                        <label class="form-check-label">
                                            Definir calendario proyecto 
                                        </label>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12 col-md-12 text-right">
                            <button class="btn btn-secondary" (click)="back()">Cancelar</button>
                            <button type="submit" class="btn btn-primary ms-2 me-2">Guardar</button>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>