<div class="row">
    <div class="col-lg-12 col-md-12 stretch-card">
        <div class="card">
            <div class="card-body">

                
               
                


                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="mb-3">
                
                        <ng-select [items]="data.users"
                        bindLabel="name"
                        bindValue="id"
                        [(ngModel)]="selectedCityId">
                        </ng-select>

                    </div>
                </div>


              



                <form name="projectForm" #projectForm="ngForm" (ngSubmit)="onSubmit(projectForm)"class="forms-sample range-selection">

         
                   
                    <section>
                        <h4 class="mb-5">Datos Básicos</h4>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="mb-3">
                                    <label for="inputName" class="form-label required">Titulo Proyecto</label>
                                    <input type="text" name="name" #name="ngModel" maxlength="255"
                                        [(ngModel)]="project.name"
                                        [ngClass]="{'ng-dirty ng-invalid' : name.errors && ( name.dirty || name.touched || projectForm.submitted) }"
                                        class="form-control" id="inputName" autocomplete="off" required>
                                    <div *ngIf="name.invalid && projectForm.submitted" class="invalid-feedback">
                                        <div *ngIf="name.errors?.required">Campo es requerido</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="mb-3">
                                    <label for="inputCompany" class="form-label required">Empresa</label>
                                    <ng-select id="inputCompany" [items]="data.Companies" name="company"
                                        #company="ngModel"
                                        [ngClass]="{'ng-dirty ng-invalid' : company.errors && ( company.dirty || company.touched || projectForm.submitted) }"
                                        [searchable]="false" (change)="onChangeCompany($event)"
                                        [(ngModel)]="project.company" required>
                                    </ng-select>
                                    <div *ngIf="company.invalid && projectForm.submitted" class="invalid-feedback">
                                        <div *ngIf="company.errors?.required">Campo es requerido
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="mb-3">
                                    {{project.startDate}}
                                    <label for="inputStartDate" class="form-label required">Fecha Inicio</label>
                                    <div class="input-group">
                                        <input id="inputStartDate" name="startDate" #startDate="ngModel"
                                            class="form-control" placeholder="yyyy-mm-dd" name="dp"
                                            [ngClass]="{'ng-dirty ng-invalid' : startDate.errors && ( startDate.dirty || startDate.touched || projectForm.submitted) }"
                                            [(ngModel)]="project.startDate" ngbDatepicker  #dp="ngbDatepicker" 

                                               required>
                                        <button class="input-group-text" type="button" (click)="dp.toggle()">
                                            <i class="feather icon-calendar icon-md text-muted"></i>
                                        </button>
                                        <div *ngIf="startDate.invalid && projectForm.submitted"
                                            class="invalid-feedback">
                                            <div *ngIf="startDate.errors?.required">Campo es requerido
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="mb-3">
                                   <label for="inputhoursProject"
                                   class="form-label required">Tiempo Estimado</label>
                               <input type="text" name="hoursProject"
                                   #hoursProject="ngModel" [(ngModel)]="project.hoursProject"
                                   [pattern]="environment.form.number.validations.pattern"
                                   [ngClass]="{'ng-dirty ng-invalid' : hoursProject.errors && ( hoursProject.dirty || hoursProject.touched || projectForm.submitted) }"
                                   class="form-control" id="inputhoursProject"
                                   autocomplete="off" minlength="1" maxlength="11" required>
                               <div *ngIf="hoursProject.invalid && projectForm.submitted"
                                   class="invalid-feedback">
                                   <div *ngIf="hoursProject.errors?.required">Campo es
                                       requerido
                                   </div>
                                   <div *ngIf="hoursProject.errors?.pattern">Campo solo
                                       permite números
                                   </div>
                               </div>

                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="mb-3">
                                    <label for="inputDescription" class="form-label required">Descripcion</label>
                                    <textarea row="3" id="description" minlength="3"
                                        placeholder="Campo tipo descripción" class="form-control" maxlength="2000"
                                        name="description" #description="ngModel" [(ngModel)]="project.description"
                                        [ngClass]="{'ng-dirty ng-invalid' : description.errors && ( description.dirty || description.touched || projectForm.submitted) }"
                                        class="form-control" id="inputName" autocomplete="off" required>
                                        required></textarea>
                                    <div *ngIf="description.invalid && projectForm.submitted" class="invalid-feedback">
                                        <div *ngIf="description.errors?.required">Campo es requerido</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                   

                    <section>
                        <h4 class="mb-5 mt-4">Asignación de Recursos</h4>

                        

                        <div class="row">
                           
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                              
                                <div class="mb-3">
                                    <label for="inputProjectManagementOffice" class="form-label required">PMO</label>
                                    <ng-select id="inputProjectManagementOffice" [items]="data.users"  [multiple]=false
                                    
                                        name="projectManagementOffice" #projectManagementOffice="ngModel"
                                        [ngClass]="{'ng-dirty ng-invalid' : projectManagementOffice.errors && ( projectManagementOffice.dirty || projectManagementOffice.touched || projectForm.submitted) }"
                                        bindLabel="name" bindValue="id"  [searchable]="false"
                                        [(ngModel)]="selectedCityId"  required>
                                    </ng-select>
                                    <div *ngIf="projectManagementOffice.invalid && projectForm.submitted"
                                        class="invalid-feedback">
                                        <div *ngIf="projectManagementOffice.errors?.required">Campo es requerido
                                        </div>
                                    </div>
                                </div>
                            </div>



                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <label for="inputProjectAssignedResources" class="form-label required">Recursos</label>

                                <ng-select id="inputProjectAssignedResources" [items]="data.users" [multiple]=true
                                    name="projectAssignedResources" #projectAssignedResources="ngModel"
                                    [ngClass]="{'ng-dirty ng-invalid' : projectAssignedResources.errors && ( projectAssignedResources.dirty || projectAssignedResources.touched || projectForm.submitted) }"
                                    [searchable]="false" (change)="onChangeUserResorces($event)"
                                    [(ngModel)]="selectedUsers" required>
                                    <ul>
                                        <div *ngIf="projectAssignedResources.invalid && projectForm.submitted"
                                            class="invalid-feedback">
                                            <div *ngIf="projectAssignedResources.errors?.required">Campo es requerido
                                            </div>
                                        </div>
                                    </ul>

                                </ng-select>

                            </div>


                        </div>

                        <div *ngIf="assignedResources && assignedResources.length > 0" class="row mt-3 mb-3">
                            <div class="col-lg-12">
                                Recusros Seleccionados
                            </div>
                            <div class="col-lg-12">
                                <table datatable [dtOptions]="dtOptions" class="table" id="datatableResources1"
                                    name="datatableResources1">
                                    <thead>
                                        <tr>
                                            <th>Nombre</th>
                                            <th>Horas de Dedicación</th>
                                            <th>Acción</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let user of assignedResources">
                                            <td>{{user.firstName}}
                                            </td>
                                            <td>
                                                <div class="mb-3">
                                                    <input type="text" [name]="user.nameInputHours" maxlength="255"
                                                        [(ngModel)]="user.hoursDedication"
                                                        [pattern]="environment.form.number.validations.pattern"
                                                        [ngClass]="{'ng-dirty ng-invalid' : projectForm.form.controls[user.nameInputHours]?.errors && ( projectForm.form.controls[user.nameInputHours]?.dirty || projectForm.form.controls[user.nameInputHours]?.touched || projectForm.submitted) }"
                                                        class="form-control" id="inputName" autocomplete="off" required>
                                                    <div *ngIf="projectForm.form.controls[user.nameInputHours]?.invalid && projectForm.submitted"
                                                        class="invalid-feedback">
                                                        <div *ngIf="projectForm.form.controls[user.nameInputHours]?.errors?.required">Campo es requerido</div>
                                                        <div *ngIf="projectForm.form.controls[user.nameInputHours].errors?.pattern">Campo solo permite números</div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <i class="feather icon-trash" (click)="deleteResource(user)"
                                                    placement="start" ngbTooltip="Eliminar Recurso"></i>
                                            </td>
                                        </tr>
                                    </tbody>

                                </table>


                            </div>
                        </div>
                    </section>
                    <section>
                        <h4 class="mb-5 mt-4">Configuración de Calendario</h4>

                        <div class="row mt-3">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="mb-3">
                                    <label for="inputBirthDate" class="form-label required">Tipo de Calendario</label>
                                    <div class="mt-2 d-flex align-items-center">
                                        
                                        <div class="form-check mb-2">
                                            <input type="radio" (change)="validcalendar(false)" class="form-check-input" name="byCategory" value="false" checked>
                                            <label class="form-check-label">
                                                <h6></h6>
                                                Calendario General
                                            </label>
                                        </div>
                                        <div class="form-check mb-2 mx-3">
                                            <input type="radio" (change)="validcalendar(true)" class="form-check-input" name="byCategory" value="true">
                                            <label class="form-check-label">
                                                <h5></h5>
                                                Calendario Customizado
                                            </label>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div *ngIf="typeCalendar" class="row mt-3 mb-3">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                  <div class="row">
                                    <!-- <div class="col-sm-12" [ngClass]="{'col-lg-8 col-md-8': showCardEvents, 'col-lg-9 col-md-9': !showCardEvents}">
                                      <div class="card">
                                        <div class="card-body">
                                          <full-calendar #calendar [options]='calendarOptions'></full-calendar>
                                        </div>
                                      </div>
                                    </div> -->

                                    <div class="col-12 col-md-9">
                                        <div class="card">
                                          <div class="card-body">
                                            <full-calendar
                                              [options]='calendarOptions'
                                            ></full-calendar>
                                          </div>
                                          </div>
                                      </div>  

                                    <!-- SHOW CARD WITH EVENT LIST -->
                                    <div *ngIf="showCardEvents" class="col-lg-3 col-md-3 col-sm-12">
                                      <div class="card card-dt">

                                    <div *ngFor="let events of events2">
                                        <div *ngIf="events.base=='t'"> 
                                            <div class="card-header d-flex justify-content-between">
                                            <h6 class="card-title">{{events.start}}</h6>
                                            <i id={{events.start}} class="feather icon-x" (click)="closeCardEventByDay1($event)"></i>
                                            </div>
                                        </div>
                                        <div *ngIf="events.base=='f'"> 
                                            <div class="card-header d-flex justify-content-between">
                                            <h5 class="card-title">{{events.start}}</h5>
                                            <i id={{events.start}} class="feather icon-x" (click)="closeCardEventByDay1($event)"></i>
                                            </div>
                                        </div>

                                    </div>


                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div> 

                       </div>

                       
                    </section>

                    <div class="row">
                        <div class="col-lg-12 col-md-12 text-right">
                            <button class="btn btn-secondary" (click)="back()">Cancelar</button>
                            <button type="submit" class="btn btn-primary ms-2 me-2">Guardar</button>
                        </div>
                    </div>

                  
                  

                </form>

            </div>
        </div>
    </div>
</div>