<nav class="page-breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink=".">Instrumentos</a></li>
      <li *ngIf="selectedItem && !selectedItem.id" class="breadcrumb-item active" aria-current="page">Nuevo instrumento</li>
      <li *ngIf="selectedItem && selectedItem.id" class="breadcrumb-item active" aria-current="page">Actualizar instrumento</li>
    </ol>
  </nav>
  
  <div *ngIf="step==1 && instruments && instruments.data.length>0" class="row">
    <div class="col-lg-12 col-md-12 stretch-card">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-right">
              <div class="search-form">
                <div class="input-group">
                  <div class="input-group-text">
                    <i class="feather icon-search" (click)="search()"></i>
                  </div>
                  <input type="text" class="form-control" id="navbarForm" [(ngModel)]="word" (keyup.enter)="search()"  placeholder="Buscar aqui...">
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-right">
              <button type="button" class="btn btn-display-dt">
                <i class="feather icon-list"></i>
              </button>
              <button type="button" class="btn btn-display-dt">
                <i class="feather icon-grid"></i>
              </button>
              <button type="button" class="btn btn-primary btn-create-dt" placement="start" ngbTooltip="Crear Intrumento">
                <i class="mdi mdi-plus" (click)="create()"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <h6 class="card-title"></h6>
          <div class="row">
            <div class="col-lg-12">
              <table datatable [dtOptions]="dtOptions" class="table table-striped">
                <thead>
                  <tr>
                    <th>Id</th>
                    <th>Instrumento</th>
                    <th>Resultados</th>
                    <th>Fecha creación</th>
                    <th>Fecha expiración</th>
                    <th data-priority="1">Publicado</th>
                    <th>Fecha publicación</th>
                    <th data-priority="1" class="text-center">Accion</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="let instrument of instruments.data | paginate: { id: 'server', itemsPerPage: environment.paginator.row_per_page, currentPage: page, totalItems: instruments.count }">
                    <td>{{instrument.id}}</td>
                    <td>{{instrument.name}}</td>  
                    <td>
                      <a *ngIf="instrument.path" [routerLink]="instrument.path" [queryParams]="{id: instrument.id, name: instrument.name}" >Ver</a>
                      <span *ngIf="!instrument.path">No hay resultados</span>
                    </td> 
                    <td>{{instrument.createAt | date:'yyyy-MM-dd'}}</td>                    
                    <td>{{instrument.expirationDate | date:'yyyy-MM-dd'}}</td> 
                    <th>
                      <div *ngIf="!instrument.isExpired" class="form-check form-switch mb-2">
                        <input type="checkbox" [(ngModel)]="instrument.isPublished" (change)="publishIntrument(instrument)" class="form-check-input" id="formSwitch1">
                        <label class="form-check-label" for="formSwitch1">{{instrument.isPublished? 'Sí' : 'No'}}</label>
                      </div>
                      <div *ngIf="instrument.isExpired">
                        <label class="form-label">Expiró</label>
                      </div>
                    </th>  
                    <td>{{instrument.publicationDate | date:'yyyy-MM-dd'}}</td>            
                    <td class="text-center">
                      <i *ngIf="instrument.isEditable && !instrument.isExpired" class="feather icon-edit-2" (click)="select(instrument.id)" placement="start" ngbTooltip="Editar Intrumento"></i>
                      <i *ngIf="!instrument.isEditable" class="feather icon-eye ms-1" (click)="select(instrument.id)" placement="start" ngbTooltip="Ver Intrumento"></i>
                      <i class="feather icon-copy ms-1" (click)="clone(instrument.id)" placement="start" ngbTooltip="Copiar Intrumento" ></i>
                      <i *ngIf="instrument.isEditable"  class="feather icon-trash ms-1" (click)="delete(instrument.id)"></i>
                    </td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <th colspan="8" class="text-right">
                      <app-pager (onChangePage)="loadPage($event)"></app-pager>
                    </th>
                  </tr>    
                </tfoot>    
              </table>
            </div>
  
          </div>
  
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="step==2">
   <app-instrument-store [instrument]="selectedItem" (onBack)="back($event)"></app-instrument-store>
  </div>
