<nav class="page-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink=".">Usuarios</a></li>
    <li *ngIf="selectedItem && !selectedItem.id" class="breadcrumb-item active" aria-current="page">Nuevo usuario</li>
    <li *ngIf="selectedItem && selectedItem.id" class="breadcrumb-item active" aria-current="page">Actualizar datos</li>
  </ol>
</nav>

<div *ngIf="step==1 && users && users.data.length>0" class="row">
  <div class="col-lg-12 col-md-12 stretch-card">
    <div class="card card-dt">
      <div class="card-header">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-right">
            <div class="search-form">
              <div class="input-group">
                <div class="input-group-text">
                  <i class="feather icon-search" (click)="search()"></i>
                </div>
                <input type="text" class="form-control" id="navbarForm" [(ngModel)]="word" (keyup.enter)="search()"
                  placeholder="Buscar aqui...">
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 d-flex justify-content-end">
            <app-box-util-views (onChangeView)="changeView($event)"></app-box-util-views>
            <button type="button" class="btn btn-primary btn-create-dt">
              <i class="feather icon-user-plus" (click)="create()" placement="start" ngbTooltip="Crear Usuario"></i>
            </button>
          </div>

        </div>
      </div>
      <div class="card-body">
        <h6 class="card-title"></h6>
        <div *ngIf="defaultView" class="row">
          <div class="col-lg-12">
            <table datatable [dtOptions]="dtOptions" class="table table-striped">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Username</th>
                  <th>Nombre y Apellido</th>
                  <th>Dependencias</th>
                  <th>Cargo</th>
                  <th>Estado</th>
                  <th data-priority="1">Accion</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="let user of users.data | paginate: { id: 'server', itemsPerPage: environment.paginator.row_per_page, currentPage: page, totalItems: users.count }">
                  <td>{{user.id}}</td>
                  <td>{{user.username}}</td>
                  <td>{{user.fullName}}</td>
                  <td>{{user.dependence.label}}</td>
                  <td>{{user.position.label}}</td>
                  <td>{{user.status.label}}</td>
                  <td class="text-center">
                    <i class="feather icon-edit-2" (click)="select(user.id)" placement="start" ngbTooltip="Editar Usuario"></i>
                    <i class="feather icon-trash" (click)="delete(user.id)" placement="start" ngbTooltip="Eliminar Usuario"></i>
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <th colspan="7" class="text-right">
                    <app-pager (onChangePage)="loadPage($event)"></app-pager>
                  </th>
                </tr>

              </tfoot>

            </table>
          </div>

        </div>
        <div class="row" *ngIf="!defaultView">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 mb-3"
                *ngFor="let user of users.data | paginate: { id: 'server', itemsPerPage: environment.paginator.row_per_page, currentPage: page, totalItems: users.count }">
                <div class="card">
                  <div class="card-header text-center">
                    <img [src]="user.avatar" class="wd-80 ht-80 rounded-circle card-img-top mt-2">
                    <h5 class="card-title mt-4">{{user.fullName}}</h5>
                  </div>

                  <div class="card-body">

                    <div class="mt-2">
                      <label class="tx-11 fw-bolder mb-0 text-uppercase">Email:</label>
                      <p class="text-muted">{{user.email}}</p>
                    </div>
                    <div class="mt-2">
                      <label class="tx-11 fw-bolder mb-0 text-uppercase">Dependencia:</label>
                      <p class="text-muted">{{user.dependence.label}}</p>
                    </div>
                    <div class="mt-2">
                      <label class="tx-11 fw-bolder mb-0 text-uppercase">Cargo:</label>
                      <p class="text-muted">{{user.position.label}}</p>
                    </div>
                    <div class="mt-2" *ngIf="user.phones && user.phones.length > 0">
                      <label class="tx-11 fw-bolder mb-0 text-uppercase">Teléfonos:</label>
                      <p class="text-muted" *ngFor="let phone of  user.phones">{{phone.numero}}</p>
                    </div>
                    <div class="mt-2 w-100 text-right">
                      <i class="feather icon-edit-2" (click)="select(user.id)" placement="start" ngbTooltip="Editar Usuario"></i>
                      <i class="feather icon-trash" (click)="delete(user.id)" placement="start" ngbTooltip="Eliminar Usuario"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-right">
                <app-pager (onChangePage)="loadPage($event)"></app-pager>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
<div *ngIf="step==2">
  <app-user-store [user]="selectedItem" (onBack)="back($event)"></app-user-store>
</div>