.card-header {
  background-color: white;
}
.search-form {
  @media (max-width: 728px) {
    width: 100%;
  }
  @media (min-width: 728px) {
    width: 65%;
  }

  margin-right: 60px;
  .input-group {
    .input-group-text {
      padding: 0;
      border: 0;
      color: #7987a1;
      background: white;
      i {
        font-size: 20px;
        cursor: pointer;
      }
    }
    .form-control {
      border: 0;
      margin-top: 3px;
    }
  }
}
