<div class="card">
    <div class="card-body">
      <div class="d-flex flex-column align-items-center">
        <h5 class="card-subtitle mb-3" [innerHtml]="title"></h5>
        <p class="mb-3 text-muted text-center" [innerHtml]="subtitle"></p>           
        <div class="row">
          <div class="col-12 col-md-12 col-xl-5">
            <div style="width: 100px; margin: auto;">
              <img [src]="image" style="width: 100%; height: auto;">
            </div>
            
          </div>

        </div>
      </div>
    </div>
  </div>