.btn-clear{
    font-size: 20px;
    color:#6571ff;
    cursor: pointer;
}

.btn-clear:hover{
    font-size: 20.2px;    
}

table{
    thead>tr{
        font-size: 11px;
    }
    tbody>tr{
        font-size: 11px;
    }
}