<div class="modal-header bg-primary text-white">
    <h4 class="modal-title" id="modal-basic-title">Nuevo Spring</h4>
</div>
<div class="modal-body">
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()" >
        <div class="form-group row d-flex justify-content-left">
            <label for="inputStartDate" class="form-label required">Fecha Inicio</label> 
            <div class="col-sm-6">
			      <input formControlName="startDate" id="startDate" name="modstartDate" 
				     class="form-control" placeholder="yyyy-mm-dd" name="dp"
				     [minDate]="minDate1" ngbDatepicker  #dp="ngbDatepicker" required>

					 <button class="input-group-text" type="button" (click)="dp.toggle()">
					   <i class="feather icon-calendar icon-md text-muted"></i>
					</button>
							
			</div>
        </div>
        <div class="form-group row d-flex justify-content-left">
            <label for="inputStartDate" class="form-label required">Fecha Fin</label> 
            <div class="col-sm-6">
                <input formControlName="endDate" id="endDate" 
                   class="form-control" placeholder="yyyy-mm-dd" name="dp2"
                   [minDate]="minDate1" ngbDatepicker  #dp2="ngbDatepicker" required>

                   <button class="input-group-text" type="button" (click)="dp2.toggle()">
                     <i class="feather icon-calendar icon-md text-muted"></i>
                  </button>
                          
          </div>
        </div>
        <div class="form-group row d-flex justify-content-left">
            <label for="iteration">Iteración:</label>
            <div class="col-sm-6">
                <input type="text" formControlName="iteration" class="form-control" />
            </div>
        </div>
        <div class="modal-footer">
            <button [disabled]="isLoading" class="btn btn-secondary" (click)="modal.close('Cancel')">Cancel</button>
            <!-- <button [disabled]="isLoading" class="btn btn-primary mr-2">Guardar</button> -->
            <button type="button" class="btn btn-success">Guardar!</button>
        </div>

    </form>
</div>
