<nav class="page-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink=".">Proyectos</a></li>
    <li *ngIf="selectedItem && !selectedItem.id" class="breadcrumb-item active" aria-current="page">Nuevo proyecto</li>
    <li *ngIf="selectedItem && selectedItem.id" class="breadcrumb-item active" aria-current="page">Panel {{ selectedItem.name }}</li>
    <!-- <i  *ngIf="selectedItem && selectedItem.id" class="feather icon-edit-2 ms-1" (click)="select(1)" placement="start" ngbTooltip="Actualizar Datos"></i> -->
  </ol>
</nav>

<div *ngIf="step==1 && projects && projects.data.length>0" class="row">
  <div class="col-lg-12 col-md-12 stretch-card">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-right">
            <div class="search-form">
              <div class="input-group">
                <div class="input-group-text">
                  <i class="feather icon-search" (click)="search()"></i>
                </div>
                <input type="text" class="form-control" id="navbarForm" [(ngModel)]="word" (keyup.enter)="search()"  placeholder="Buscar aqui...">
              </div>
            </div>
          </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 d-flex justify-content-end">
              <button type="button" class="btn btn-primary btn-create-dt" placement="bottom" ngbTooltip="Crear">
                  <i class="feather icon-plus" (click)="create()"></i>
              </button>
             </div> 
         </div>
         
      </div>
      <div class="card-body card-dt">
        <h6 class="card-title"></h6>
        <div class="row">
          <div class="col-lg-12">
            <table datatable [dtOptions]="dtOptions" class="table table-striped" id="datatableResources" name="datatableResources">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Nombre</th>
                  <th>Descripcion</th>
                  <th>Empresa</th>
                  <th>PMO</th>
                  <th>Fecha Inicio</th>
                  <th>Fecha Entrega</th>
                  <th>Progreso</th>
                  <th>Estado</th>
                  <th data-priority="1" class="text-center">Accion</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="let project of projects.data | paginate: { id: 'server', itemsPerPage: environment.paginator.row_per_page, currentPage: page, totalItems: projects.count }">
                  <td>{{project.id}}</td>
                  <td>{{project.name}}</td>
                  <td>{{project.description}}</td>
                  <td>{{project.company?.name}}</td>
                  <td>{{project.projectManagementOffice?.firstName}} {{project.projectManagementOffice?.lastName}}</td>
                  <td>{{formatingDate(project.startDate)}}</td>
                  <td>{{formatingDate(project.endDate)}}</td>
                  <td>
                      <p><ngb-progressbar [showValue]="true" type="{{project.TypeGbProgressbar}}" [value]="project.progress" [max]="100"></ngb-progressbar></p>
                  </td>
                  <!-- <td>{{project.status.label}}</td> -->
                  <td>{{project.condition}}</td> 
                  <td class="text-center">
                    <i class="feather icon-settings" (click)="config(project.id)" placement="start" ngbTooltip="Panel Proyecto"></i>
                    <i class="feather icon-edit-2 ms-1" (click)="select(project.id)" placement="start" ngbTooltip="Actualizar Datos"></i>
                    <!-- <i class="feather icon-trash" (click)="delete(project.id)"></i> -->
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <th colspan="10" class="text-right">
                    <app-pager (onChangePage)="loadPage($event)"></app-pager>
                  </th>
                </tr>
  
              </tfoot>
  
            </table>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>


<!-- {{step}} -->
<div *ngIf="step==2">
  <app-project-store [project]="selectedItem" (onBack)="back($event)"></app-project-store>
</div>
<div *ngIf="step==4">
  <app-project-store [project]="selectedItem" (onBack)="back($event)"></app-project-store>
</div>
<div *ngIf="step==3">
  {{ selectedItem.name }}
  <i class="feather icon-edit-2" (click)=selectsproyects(selectedItem.id) placement="start" ngbTooltip="Editar Proyecto {{ selectedItem.name }}"></i>
  <board-dnd (onBack)="back($event)"></board-dnd>
</div>