.image {
    position:relative;
}

.qrcode{
    right: 2%;
    position:absolute;
    text-align:end;
    bottom: 2%;
    width: 100%  
}

.accreditation-size{
    font-size: 19px;
}

/* css texto */
.text-center-top{
    left: 0;
    position:absolute;
    text-align:center;
    top: 2%;
    width: 100%
}

.text-center-center{
    left: 0;
    position:absolute;
    text-align:center;
    top: 50%;
    width: 100%
}

.text-center-button{
    left: 0;
    position:absolute;
    text-align:center;
    bottom: 2%;
    width: 100%
}

.text-left-top{
    left: 2%;
    position:absolute;
    text-align:left;
    top: 2%;
    width: 100%
}

.text-left-center{
    left: 2%;
    position:absolute;
    text-align:left;
    top: 50%;
    width: 100%
}

.text-left-button{
    left: 2%;
    position:absolute;
    text-align:left;
    bottom: 2%;
    width: 100%
}

.text-right-top{
    right: 2%;
    position:absolute;
    text-align:right;
    top: 2%;
    width: 100%
}

.text-right-center{
    right: 2%;
    position:absolute;
    text-align:right;
    top: 50%;
    width: 100%
}

.text-right-button{
    right: 2%;
    position:absolute;
    text-align:right;
    bottom: 2%;
    width: 100%
}

/* css texto */

.qrcode-center-top{
    left: 0;
    position:absolute;
    text-align:center;
    top: 2%;
    width: 100%
}

.qrcode-center-center{
    left: 0;
    position:absolute;
    text-align:center;
    top: 50%;
    width: 100%
}

.qrcode-center-button{
    left: 0;
    position:absolute;
    text-align:center;
    bottom: 2%;
    width: 100%
}

.qrcode-left-top{
    left: 2%;
    position:absolute;
    text-align:left;
    top: 2%;
    width: 100%
}

.qrcode-left-center{
    left: 2%;
    position:absolute;
    text-align:left;
    top: 50%;
    width: 100%
}

.qrcode-left-button{
    left: 2%;
    position:absolute;
    text-align:left;
    bottom: 2%;
    width: 100%
}

.qrcode-right-top{
    right: 2%;
    position:absolute;
    text-align:right;
    top: 2%;
    width: 100%
}

.qrcode-right-center{
    right: 2%;
    position:absolute;
    text-align:right;
    top: 50%;
    width: 100%
}

.qrcode-right-button{
    right: 2%;
    position:absolute;
    text-align:right;
    bottom: 2%;
    width: 100%
}