<div *ngIf="instrument" class="row">
    <div class="col-lg-12 col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="mt-3">
                    <h6>Lea con detenimiento.</h6>
                  </div>
                  <div class="mt-3">
                    <label class="tx-11 fw-bolder mb-0 text-uppercase">Encuesta</label>
                    <p class="text-muted">{{instrument.name}}</p>
                  </div>
                  <div class="mt-3">
                    <label class="tx-11 fw-bolder mb-0 text-uppercase">Descripción</label>
                    <p class="text-muted" [innerHtml]="instrument.description ? instrument.description : 'Breve leyenda'"></p>
                  </div>
                  <div class="mt-3">
                    <button class="btn btn-primary" (click)="show = true">Iniciar</button>
                  </div>                  

            </div>
            <div class="card-body" [hidden]="!show">

                <form name="instrumentForm" #instrumentForm="ngForm" (ngSubmit)="onSubmit(instrumentForm)" class="forms-sample">

                    <section *ngFor="let section of instrument.sections; let i = index;">
                        <div class="row" *ngIf="sectionActive == i">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row" *ngIf="section.name">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <h6 class="card-title mb-5">{{section.name}}</h6>                                                                        
                                            </div>
                                        </div>
                                        <div *ngFor="let question of section.questions" class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div *ngIf="question.inputType.label =='text'" class="mb-3">
                                                    <label for="textInput-{{question.id}}" class="form-label" [ngClass]="{'required': question.required}">{{question.order}}.- {{question.label}}</label>
                                                    <input type="text" [name]="question.nameImput"
                                                    [(ngModel)]="question.valueResp"
                                                    [ngClass]="{'ng-dirty ng-invalid' : instrumentForm.form.controls[question.nameImput]?.errors && ( instrumentForm.form.controls[question.nameImput]?.dirty || instrumentForm.form.controls[question.nameImput]?.touched || instrumentForm.submitted) }"
                                                    class="form-control" id="textInput-{{question.id}}" autocomplete="off"
                                                    minlength="1" maxlength="150" [required]="question.required">
                                                    <div *ngIf="instrumentForm.form.controls[question.nameImput]?.invalid && instrumentForm.submitted" class="invalid-feedback">
                                                        <div *ngIf="instrumentForm.form.controls[question.nameImput]?.errors?.required">Campo es requerido
                                                        </div>
                                                    </div>  
                                               
                                                </div> 
                                                <div *ngIf="question.inputType.label =='email'" class="mb-3">
                                                    <label for="emailInput-{{question.id}}" class="form-label" [ngClass]="{'required': question.required}">{{question.order}}.- {{question.label}}</label>
                                                    <input type="text" email [name]="question.nameImput"
                                                    [(ngModel)]="question.valueResp"
                                                    [ngClass]="{'ng-dirty ng-invalid' : instrumentForm.form.controls[question.nameImput]?.errors && ( instrumentForm.form.controls[question.nameImput]?.dirty || instrumentForm.form.controls[question.nameImput]?.touched || instrumentForm.submitted) }"
                                                    class="form-control" id="emailInput-{{question.id}}" autocomplete="off"
                                                    minlength="1" maxlength="50" [required]="question.required">
                                                    <div *ngIf="instrumentForm.form.controls[question.nameImput]?.invalid && instrumentForm.submitted" class="invalid-feedback">
                                                        <div *ngIf="instrumentForm.form.controls[question.nameImput]?.errors?.required">Campo es requerido
                                                        </div>
                                                        <div *ngIf="instrumentForm.form.controls[question.nameImput]?.errors?.email">Email no es válido
                                                        </div>
                                                    </div>  
                                               
                                                </div> 
                                                <div *ngIf="question.inputType.label =='number'" class="mb-3">
                                                    <label for="numberInput-{{question.id}}" class="form-label" [ngClass]="{'required': question.required}">{{question.order}}.- {{question.label}}</label>
                                                    <input type="text" [name]="question.nameImput"
                                                    [(ngModel)]="question.valueResp"
                                                    [pattern]="environment.form.number.validations.pattern"
                                                    [ngClass]="{'ng-dirty ng-invalid' : instrumentForm.form.controls[question.nameImput]?.errors && ( instrumentForm.form.controls[question.nameImput]?.dirty || instrumentForm.form.controls[question.nameImput]?.touched || instrumentForm.submitted) }"
                                                    class="form-control" id="numberInput-{{question.id}}" autocomplete="off"
                                                    minlength="1" maxlength="20" [required]="question.required">
                                                    <div *ngIf="instrumentForm.form.controls[question.nameImput]?.invalid && instrumentForm.submitted" class="invalid-feedback">
                                                        <div *ngIf="instrumentForm.form.controls[question.nameImput]?.errors?.required">Campo es requerido
                                                        </div>
                                                        <div *ngIf="instrumentForm.form.controls[question.nameImput]?.errors?.pattern">Campo sole permite números
                                                        </div>
                                                    </div>  
                                               
                                                </div>   
                                                <div *ngIf="question.inputType.label =='textarea'" class="mb-3">
                                                    <label for="textareaInput-{{question.id}}" class="form-label" [ngClass]="{'required': question.required}">{{question.order}}.- {{question.label}}</label>
                                                    <textarea [name]="question.nameImput"
                                                    [(ngModel)]="question.valueResp"
                                                    row="3"
                                                    [ngClass]="{'ng-dirty ng-invalid' : instrumentForm.form.controls[question.nameImput]?.errors && ( instrumentForm.form.controls[question.nameImput]?.dirty || instrumentForm.form.controls[question.nameImput]?.touched || instrumentForm.submitted) }"
                                                    class="form-control" id="textareaInput-{{question.id}}" autocomplete="off"
                                                    minlength="1" maxlength="2000" [required]="question.required"></textarea>
                                                    <div *ngIf="instrumentForm.form.controls[question.nameImput]?.invalid && instrumentForm.submitted" class="invalid-feedback">
                                                        <div *ngIf="instrumentForm.form.controls[question.nameImput]?.errors?.required">Campo es requerido
                                                        </div>
                                                    </div>  
                                               
                                                </div>
                                                <div *ngIf="question.inputType.label =='date'" class="mb-3">
                                                    <label for="inputFirstName" class="form-label" [ngClass]="{'required': question.required}">{{question.order}}.- {{question.label}}</label>
                                                    <div class="input-group">
                                                        <input id="dateInput-{{question.id}}" [name]="question.nameImput"
                                                            [minDate]="{year: 1930 , month: 9, day: 1}"
                                                            class="form-control" placeholder="yyyy-mm-dd"
                                                            [ngClass]="{'ng-dirty ng-invalid' : instrumentForm.form.controls[question.nameImput]?.errors && ( instrumentForm.form.controls[question.nameImput]?.dirty || instrumentForm.form.controls[question.nameImput]?.touched || instrumentForm.submitted) }"
                                                            [(ngModel)]="question.valueResp" ngbDatepicker
                                                            #dp="ngbDatepicker" [required]="question.required">
                                                        <button class="input-group-text" type="button"
                                                            (click)="dp.toggle()">
                                                            <i class="feather icon-calendar icon-md text-muted"></i>
                                                        </button>
                                                        <div *ngIf="instrumentForm.form.controls[question.nameImput]?.invalid && instrumentForm.submitted"
                                                            class="invalid-feedback">
                                                            <div *ngIf="instrumentForm.form.controls[question.nameImput]?.errors?.required">Campo es
                                                                requerido
                                                            </div>
                                                        </div>
                                                    </div> 
                                               
                                                </div>                                                                                              
                                                <div *ngIf="question.inputType.label =='select'" class="mb-3">
                                                    <label for="selectInput-{{question.id}}" class="form-label" [ngClass]="{'required': question.required}">{{question.order}}.- {{question.label}}</label>
                                                    <ng-select id="selectInput-{{question.id}}" [name]="question.nameImput" [(ngModel)]="question.valueResp"
                                                    [ngClass]="{'ng-dirty ng-invalid' : instrumentForm.form.controls[question.nameImput]?.errors && ( instrumentForm.form.controls[question.nameImput]?.dirty || instrumentForm.form.controls[question.nameImput]?.touched || instrumentForm.submitted) }"    
                                                    [searchable]="false" [required]="question.required">
                                                        <ng-option *ngFor="let option of question.options" [value]="option.value">{{option.label}}</ng-option>
                                                    </ng-select>
                                                    <div *ngIf="instrumentForm.form.controls[question.nameImput]?.invalid && instrumentForm.submitted" class="invalid-feedback">
                                                        <div *ngIf="instrumentForm.form.controls[question.nameImput]?.errors?.required">Campo es requerido
                                                        </div>
                                                    </div>  
                                               
                                                </div> 
                                                <div *ngIf="question.inputType.label =='select-multiple'" class="mb-3">
                                                    <label for="selectInput-{{question.id}}" class="form-label" [ngClass]="{'required': question.required}">{{question.order}}.- {{question.label}}</label>
                                                    <ng-select id="selectInput-{{question.id}}" [name]="question.nameImput" [multiple]="true" [(ngModel)]="question.valueResp"
                                                    [ngClass]="{'ng-dirty ng-invalid' : instrumentForm.form.controls[question.nameImput]?.errors && ( instrumentForm.form.controls[question.nameImput]?.dirty || instrumentForm.form.controls[question.nameImput]?.touched || instrumentForm.submitted) }"    
                                                    [searchable]="false" [required]="question.required">
                                                        <ng-option *ngFor="let option of question.options" [value]="option.value">{{option.label}}</ng-option>
                                                    </ng-select>
                                                    <div *ngIf="instrumentForm.form.controls[question.nameImput]?.invalid && instrumentForm.submitted" class="invalid-feedback">
                                                        <div *ngIf="instrumentForm.form.controls[question.nameImput]?.errors?.required">Campo es requerido
                                                        </div>
                                                    </div>  
                                               
                                                </div>    
                                                <div *ngIf="question.inputType.label =='radio'" class="mb-3">
                                                    <label for="question.nameImput" class="form-label" [ngClass]="{'required': question.required}">{{question.order}}.- {{question.label}}</label>
                                                    <div class="mt-2">
                                                        <div class="form-check mb-2" *ngFor="let option of question.options">
                                                            <input type="radio" class="form-check-input" [name]="question.nameImput" [value]="option.value" [(ngModel)]="question.valueResp" [required]="question.required">
                                                            <label class="form-check-label" for="radioInput-{{question.id}}">
                                                                {{option.label}}
                                                            </label>
                                                          </div>
                                                          <div *ngIf="instrumentForm.form.controls[question.nameImput]?.invalid && instrumentForm.submitted" class="invalid-feedback">
                                                            <div *ngIf="instrumentForm.form.controls[question.nameImput]?.errors?.required">Campo es requerido
                                                            </div>
                                                        </div> 
                                                    </div>
                                                </div>  
                                                <div *ngIf="question.inputType.label =='checkbox'" class="mb-3">
                                                    <label for="question.nameImput" class="form-label" [ngClass]="{'required': question.required}">{{question.order}}.- {{question.label}}</label>
                                                    <div class="mt-2">
                                                        <div class="form-check mb-2" *ngFor="let option of question.options; let i = index">
                                                            <input type="checkbox" class="form-check-input" [name]="question.nameImput" [value]="option.value" [(ngModel)]="question.valueRespCheckBox[i]" (change)="onChangeCheckbox($event, question, option.value)" [required]="question.required">
                                                            <label class="form-check-label" for="checkInput-{{question.id}}">
                                                                {{option.label}}
                                                            </label>
                                                          </div>
                                                          <div *ngIf="instrumentForm.form.controls[question.nameImput]?.invalid && instrumentForm.submitted" class="invalid-feedback">
                                                            <div *ngIf="instrumentForm.form.controls[question.nameImput]?.errors?.required">Campo es requerido
                                                            </div>
                                                        </div> 
                                                    </div>
                                                </div>                       
                                            </div>
                                        </div>
                                       <!--<div class="row">
                                            <div class="col-lg-12 col-md-12 text-right">
                                                <button type="button" class="btn btn-secondary" (click)="reset(instrumentForm)">Cancelar</button>
                                                <button type="submit" [disabled]="submitted" class="btn btn-primary ms-2 me-2">Guardar</button>
                                            </div>
                                        </div>--> 
                                    </div>
                                </div>  
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-right mt-3">
                                <button type="button" *ngIf="i > 0" class="btn btn-primary"
                                (click)="backSection()">Atras</button>
                                <button type="button" *ngIf="i < (instrument.sections.length-1)" class="btn btn-primary ms-2 me-2"
                                (click)="nextSection()">Siguiente</button>
                                <button type="submit" [disabled]="submitted" *ngIf="i == (instrument.sections.length-1)" class="btn btn-primary ms-2 me-2">Guardar</button>
                            </div>
                        </div>
                    </section>





                </form>

            </div>
        </div>
    </div>
</div>
