<nav class="page-breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink=".">Tipos de Unidad</a></li>
      <li *ngIf="selectedItem && !selectedItem.id" class="breadcrumb-item active" aria-current="page">Nuevo tipo de unidad</li>
      <li *ngIf="selectedItem && selectedItem.id" class="breadcrumb-item active" aria-current="page">Actualizar tipo de unidad</li>
    </ol>
  </nav>
  
  <div *ngIf="step==1" class="row">
    <div class="col-lg-12 col-md-12 stretch-card">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-right">
              <div class="search-form">
                <div class="input-group">
                  <div class="input-group-text">
                    <i class="feather icon-search" (click)="search()"></i>
                  </div>
                  <input type="text" class="form-control" id="navbarForm" [(ngModel)]="word" (ngModelChange)="search()"  placeholder="Buscar aqui...">
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-right">
              <button type="button" (click)="create()" class="btn btn-primary btn-create-dt" placement="start" ngbTooltip="Crear Unidad de Medida">
                <i class="mdi mdi-plus" ></i>
              </button>
            </div>
          </div>
        </div>
        <div class="card-body card-dt">
          <h6 class="card-title"></h6>
          <div class="row">
            <div class="col-lg-12" *ngIf="units && units.data">
              <table datatable [dtOptions]="dtOptions" class="table table-striped">
                <thead>
                  <tr>
                    <th>Id</th>
                    <th>Tipo de unidad</th>
                    <th>Factor</th>
                    <th>Estado</th>
                    <th data-priority="1" class="text-center">Accion</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="let unit of units.data | paginate: { id: 'server', itemsPerPage: environment.paginator.row_per_page, currentPage: page, totalItems: units.count }">
                    <td>{{unit.id}}</td>
                    <td>{{unit.label}}</td> 
                    <td>{{unit.factor}}</td>  
                    <td>{{unit.status?.label}}</td>              
                    <td class="text-center">
                      <i class="feather icon-edit-2" (click)="select(unit.id)" placement="start" ngbTooltip="Editar Unidad de Medida"></i>
                      <i *ngIf="unit.status?.value=='1'" class="feather icon-trash ms-1" placement="start" ngbTooltip="Eliminar Unidad de Medida" (click)="delete(unit.id)"></i>
                    </td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <th colspan="5" class="text-right">
                      <app-pager (onChangePage)="loadPage($event)"></app-pager>
                    </th>
                  </tr>    
                </tfoot>    
              </table>
            </div>
  
          </div>
  
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="step==2">
   <app-unit-store [unit]="selectedItem" (onBack)="back($event)"></app-unit-store>
  </div>

