<nav class="page-breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink=".">Categorías</a></li>
      <li *ngIf="selectedItem && !selectedItem.id" class="breadcrumb-item active" aria-current="page">Nuevo categoría</li>
      <li *ngIf="selectedItem && selectedItem.id" class="breadcrumb-item active" aria-current="page">Actualizar categoría</li>
    </ol>
  </nav>
  
  <div *ngIf="step==1" class="row">
    <div class="col-lg-12 col-md-12 stretch-card">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-right">
              <div class="search-form">
                <div class="input-group">
                  <div class="input-group-text">
                    <i class="feather icon-search" (click)="search()"></i>
                  </div>
                  <input type="text" class="form-control" id="navbarForm" [(ngModel)]="word" (ngModelChange)="search()"  placeholder="Buscar aqui...">
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-right">
              <button type="button" (click)="create()" class="btn btn-primary btn-create-dt"  placement="start" ngbTooltip="Crear Categoría">
                <i class="mdi mdi-plus"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="card-body card-dt">
          <h6 class="card-title"></h6>
          <div class="row">
            <div class="col-lg-12" *ngIf="categories && categories.data">
              <table datatable [dtOptions]="dtOptions" class="table table-striped">
                <thead>
                  <tr>
                    <th>Id</th>
                    <th>Categoría</th>
                    <th>Tiene Escala y Ponderación</th>
                    <th>Estado</th>
                    <th data-priority="1">Accion</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="let category of categories.data | paginate: { id: 'server', itemsPerPage: environment.paginator.row_per_page, currentPage: page, totalItems: categories.count }">
                    <td>{{category.id}}</td>
                    <td>{{category.label}}</td>
                    <td>{{category.flag ? 'Si' : 'No'}}</td>
                    <td>{{category.status?.label}}</td>
                    <td class="text-center">
                      <i class="feather icon-edit-2" (click)="select(category.id)" placement="start" ngbTooltip="Editar Categoría"></i>
                      <i *ngIf="category.status?.value=='1'" class="feather icon-trash ms-1" (click)="delete(category.id)"></i>
                    </td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <th colspan="5" class="text-right">
                      <app-pager (onChangePage)="loadPage($event)"></app-pager>
                    </th>
                  </tr>    
                </tfoot>
    
              </table>
            </div>
  
          </div>
  
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="step==2">
    <app-category-store [category]="selectedItem" (onBack)="back($event)"></app-category-store>
  </div>
