<nav class="page-breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="..">Proyectos</a></li>
      <li *ngIf="selectedItem" class="breadcrumb-item active" aria-current="page">Dasboard: Proyecto {{ selectedItem.name }}</li>
      <!-- <i  *ngIf="selectedItem && selectedItem.id" class="feather icon-edit-2 ms-1" (click)="select(1)" placement="start" ngbTooltip="Actualizar Datos"></i> -->
    </ol>
  </nav>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <ul class="horizontal-list">
                            <li routerLink="/projects/dashboard/board" [routerLinkActive]="['active-option']"><i class="feather icon-grid"></i> Tablero</li>
                            <li hidden><i class="feather icon-list"></i> Lista</li>
                        </ul>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 d-flex justify-content-end">
                        <ul class="horizontal-list">
                            <li routerLink="/projects/dashboard/members" [routerLinkActive]="['active-option']"><i class="feather icon-users"></i> <span class="ms-1">Miembros</span></li>
                            <li routerLink="/projects/dashboard/settings" [routerLinkActive]="['active-option']"><i class="feather icon-calendar"></i><span class="ms-1">Configuraciones</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-12">
        <router-outlet></router-outlet>
    </div>
</div>
