<div class="row">

    <div class="col-lg-12 col-md-12">
        <div class="card">
            <div class="card-body">
                <ul ngbNav #defaultNav="ngbNav" [(activeId)]="defaultNavActiveId" class="nav-tabs">
                    <!--build-->
                    <li *ngIf="instrument.isEditable" [ngbNavItem]="1">
                        <a ngbNavLink>Construir</a>
                        <ng-template ngbNavContent>

                            <div class="row">
                                <div class="col-md-offset-2 col-md-8" *ngIf="!instrument.id">
                                    <div class="d-flex align-items-center flex-row">
                                        <button type="button" style="margin-bottom: 15px" class="btn btn-primary"
                                            (click)="reset()">Reset</button>
                                    </div>
                                </div>
                                <div class="mt-2 col-lg-12 col-md-12">
                                    <form name="instrumentForm" #instrumentForm="ngForm"
                                        (ngSubmit)="onSubmit(instrumentForm)">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                <div class="mb-3">
                                                    <label for="inputInstrumentName" class="form-label required">Nombre
                                                        de
                                                        Instrumento</label>
                                                    <input type="text" name="instrumentName" #instrumentName="ngModel"
                                                        [(ngModel)]="instrument.name"
                                                        [ngClass]="{'ng-dirty ng-invalid' : instrumentName.errors && ( instrumentName.dirty || instrumentName.touched || instrumentForm.submitted) }"
                                                        class="form-control" id="inputInstrumentName" autocomplete="off"
                                                        minlength="3" maxlength="255" required>
                                                    <div *ngIf="instrumentName.invalid && instrumentForm.submitted"
                                                        class="invalid-feedback">
                                                        <div *ngIf="instrumentName.errors?.required">Campo es requerido
                                                        </div>
                                                        <div
                                                            *ngIf="instrumentName.errors?.minlength || instrumentName.errors?.maxlength">
                                                            Campo permite entre 3 y 255 caracteres</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                <div class="mb-3">
                                                    <label for="inputInstrumentPath" class="form-label">Ruta de
                                                        Resultados</label>
                                                    <input type="text" name="instrumentPath" #instrumentPath="ngModel"
                                                        [(ngModel)]="instrument.path"
                                                        [ngClass]="{'ng-dirty ng-invalid' : instrumentPath.errors && ( instrumentPath.dirty || instrumentPath.touched || instrumentForm.submitted) }"
                                                        class="form-control" id="inputInstrumentPath" autocomplete="off"
                                                        minlength="3" maxlength="300">
                                                    <div *ngIf="instrumentPath.invalid && instrumentForm.submitted"
                                                        class="invalid-feedback">
                                                        <div *ngIf="instrumentPath.errors?.required">Campo es requerido
                                                        </div>
                                                        <div
                                                            *ngIf="instrumentPath.errors?.minlength || instrumentPath.errors?.maxlength">
                                                            Campo permite entre 3 y 300 caracteres</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                <div class="mb-3">
                                                    <label for="inputInstrumentDuration"
                                                        class="form-label required">Duración</label>
                                                    <input type="text" name="instrumentDuration"
                                                        #instrumentDuration="ngModel" [(ngModel)]="instrument.dutation"
                                                        [pattern]="environment.form.number.validations.pattern"
                                                        [ngClass]="{'ng-dirty ng-invalid' : instrumentDuration.errors && ( instrumentDuration.dirty || instrumentDuration.touched || instrumentForm.submitted) }"
                                                        class="form-control" id="inputInstrumentDuration"
                                                        autocomplete="off" minlength="1" maxlength="11" required>
                                                    <div *ngIf="instrumentDuration.invalid && instrumentForm.submitted"
                                                        class="invalid-feedback">
                                                        <div *ngIf="instrumentDuration.errors?.required">Campo es
                                                            requerido
                                                        </div>
                                                        <div *ngIf="instrumentDuration.errors?.pattern">Campo solo
                                                            permite números
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                <div class="mb-3">
                                                    <label for="inputUnitType" class="form-label required">Duración
                                                        (Tipo de
                                                        unidad)</label>
                                                    <ng-select id="inputUnitType" [items]="data.units" name="unitType"
                                                        #unitType="ngModel"
                                                        [ngClass]="{'ng-dirty ng-invalid' : unitType.errors && ( unitType.dirty || unitType.touched || instrumentForm.submitted) }"
                                                        [searchable]="false" [(ngModel)]="instrument.unitType" required>
                                                    </ng-select>
                                                    <div *ngIf="unitType.invalid && instrumentForm.submitted"
                                                        class="invalid-feedback">
                                                        <div *ngIf="unitType.errors?.required">Campo es requerido
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                <div class="mb-3">
                                                    <label for="inputBirthDate" class="form-label required">Fecha
                                                        Expiración</label>
                                                    <div class="input-group">
                                                        <input id="inputBirthDate" name="expirationDate"
                                                            #expirationDate="ngModel"
                                                            [minDate]="{year: 1930 , month: 9, day: 1}"
                                                            class="form-control" placeholder="yyyy-mm-dd"
                                                            [ngClass]="{'ng-dirty ng-invalid' : expirationDate.errors && ( expirationDate.dirty || expirationDate.touched || instrumentForm.submitted) }"
                                                            [(ngModel)]="instrument.expirationDate" ngbDatepicker
                                                            #dp="ngbDatepicker" required>
                                                        <button class="input-group-text" type="button"
                                                            (click)="dp.toggle()">
                                                            <i class="feather icon-calendar icon-md text-muted"></i>
                                                        </button>
                                                        <div *ngIf="expirationDate.invalid && instrumentForm.submitted"
                                                            class="invalid-feedback">
                                                            <div *ngIf="expirationDate.errors?.required">Campo es
                                                                requerido
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                <div class="mb-3">
                                                    <label for="inputBirthDate" class="form-label required">¿Agrupar
                                                        preguntas por categorías?</label>
                                                    <div class="mt-2 d-flex align-items-center">
                                                        <div class="form-check mb-2">
                                                            <input type="radio" class="form-check-input"
                                                                name="byCategory" value="true"
                                                                [(ngModel)]="instrument.questionsByCategory">
                                                            <label class="form-check-label">
                                                                Si
                                                            </label>
                                                        </div>
                                                        <div class="form-check mb-2 mx-3">
                                                            <input type="radio" class="form-check-input"
                                                                name="byCategory" value="false"
                                                                [(ngModel)]="instrument.questionsByCategory">
                                                            <label class="form-check-label">
                                                                No
                                                            </label>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div class="mb-3">
                                                    <label for="inputRoles" class="form-label required">Roles</label>
                                                    <ng-select id="inputRoles" [items]="data.roles" [multiple]=true
                                                        [searchable]="false" [closeOnSelect]="true"
                                                        name="instrumentRole" #instrumentRole="ngModel"
                                                        [ngClass]="{'ng-dirty ng-invalid' : instrumentRole.errors && ( instrumentRole.dirty || instrumentRole.touched || instrumentForm.submitted) }"
                                                        bindLabel="label" bindValue="value" [searchable]="false"
                                                        [(ngModel)]="instrument.roles" (change)="loadUsersByRoles()"
                                                        required>
                                                    </ng-select>
                                                    <div *ngIf="instrumentRole.invalid && instrumentForm.submitted"
                                                        class="invalid-feedback">
                                                        <div *ngIf="instrumentRole.errors?.required">Campo es requerido
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div class="mb-3">
                                                    <label for="inputUsers" class="form-label required">Usuarios</label>
                                                    <ng-select id="inputUsers" [items]="users" [multiple]=true
                                                        [searchable]="false" groupBy="role" [selectableGroup]="true"
                                                        [selectableGroupAsModel]="false" [closeOnSelect]="true"
                                                        name="instrumentUsers" #instrumentUsers="ngModel"
                                                        [ngClass]="{'ng-dirty ng-invalid' : instrumentUsers.errors && ( instrumentUsers.dirty || instrumentUsers.touched || instrumentForm.submitted) }"
                                                        bindLabel="fullName" bindValue="id" [searchable]="false"
                                                        [(ngModel)]="selectedUsers" required>
                                                        <ng-template ng-optgroup-tmp let-item="item" let-item$="item$"
                                                            let-index="index">
                                                            <input id="item-{{index}}" type="checkbox"
                                                                name="itemgroup1-{{index}}"
                                                                [ngModel]="item$.selected" /> {{item.role}}
                                                        </ng-template>
                                                        <ng-template ng-option-tmp let-item="item" let-item$="item$"
                                                            let-index="index">
                                                            <input id="item-{{index}}" type="checkbox"
                                                                name="item-{{index}}" [ngModel]="item$.selected" />
                                                            {{item.fullName}}
                                                        </ng-template>
                                                    </ng-select>
                                                    <div *ngIf="instrumentUsers.invalid && instrumentForm.submitted"
                                                        class="invalid-feedback">
                                                        <div *ngIf="instrumentUsers.errors?.required">Campo es requerido
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div class="mb-3">
                                                    <label for="inputInstrumentDescription"
                                                        class="form-label required">Descripción</label>
                                                    <textarea id="inputInstrumentDescription" minlength="3"
                                                        class="form-control" maxlength="1000"
                                                        name="instrumentDescription"
                                                        [ngClass]="{'ng-dirty ng-invalid' : instrumentDescription.errors && ( instrumentDescription.dirty || instrumentDescription.touched || instrumentForm.submitted) }"
                                                        #instrumentDescription="ngModel"
                                                        [(ngModel)]="instrument.description" required></textarea>
                                                    <div *ngIf="instrumentDescription.invalid && instrumentForm.submitted"
                                                        class="invalid-feedback">
                                                        <div *ngIf="instrumentDescription.errors?.required">Campo es
                                                            requerido
                                                        </div>
                                                        <div
                                                            *ngIf="instrumentDescription.errors?.minlength || instrumentDescription.errors?.maxlength">
                                                            Campo permite entre 3 y 1000 caracteres</div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row mb-2">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <app-box-section-builder *ngFor="let section of instrument.sections"
                                                    [section]="section" (onDeleteSection)="deleteSection($event)">
                                                </app-box-section-builder>
                                            </div>
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div class="row">
                                                    <div class="col-sm-12 text-right">
                                                        <button type="button" class="btn btn-primary"
                                                            (click)="addSection()"><i
                                                                class="feather icon-file-plus"></i> Sección</button>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="row mt-5">
                                            <div class="col-lg-12 text-right">
                                                <button type="button" class="btn btn-secondary" (click)="back()">Cancelar</button>
                                                <button type="button" class="btn btn-secondary ms-2" (click)="preview(defaultNav)">Vista Previa</button>
                                                <button type="submit" class="btn btn-primary ms-2 me-2">Guardar</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>

                        </ng-template>
                    </li>
                    <!--viewer-->
                    <li [ngbNavItem]="2">
                        <a ngbNavLink (click)="preview(defaultNav)">Vista Previa</a>
                        <ng-template ngbNavContent>
                            <div *ngIf="instrument" class="row">
                                <div class="col-lg-12 col-md-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <div class="mt-3">
                                                <h6>Lea con detenimiento.</h6>
                                            </div>
                                            <div class="mt-3">
                                                <label class="tx-11 fw-bolder mb-0 text-uppercase">Encuesta</label>
                                                <p class="text-muted">{{instrument.name}}</p>
                                            </div>
                                            <div class="mt-3">
                                                <label class="tx-11 fw-bolder mb-0 text-uppercase">Descripción</label>
                                                <p class="text-muted"
                                                    [innerHtml]="instrument.description ? instrument.description : 'Breve leyenda'">
                                                </p>
                                            </div>
                                            <div class="mt-3">
                                                <button class="btn btn-primary" (click)="show = true;">Iniciar</button>
                                            </div>

                                        </div>
                                        <div class="card-body" [hidden]="!show">
                                            <section *ngFor="let section of instrument.sections; let i = index;">
                                                <div class="row" *ngIf="sectionActive == i">
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        <div class="card">
                                                            <div class="card-body">
                                                                <div class="row" *ngIf="section.name">
                                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                        <h6 class="card-title mb-5">{{section.name}}</h6>                                                                        
                                                                    </div>
                                                                </div>
                                                                <div class="row"
                                                                    *ngFor="let question of section.questions">
                                                                    <div
                                                                        class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                        <div *ngIf="question.inputType.label =='select'"
                                                                            class="mb-3">
                                                                            <label class="form-label"
                                                                                [ngClass]="{'required': question.required}">{{question.order}}.-
                                                                                {{question.label}}</label>
                                                                            <ng-select [searchable]="false">
                                                                                <ng-option
                                                                                    *ngFor="let option of question.options"
                                                                                    [value]="option.value">
                                                                                    {{option.label}}</ng-option>
                                                                            </ng-select>
                                                                        </div>
                                                                    </div>
                                                                    <div
                                                                        class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                        <div *ngIf="question.inputType.label =='select-multiple'"
                                                                            class="mb-3">
                                                                            <label class="form-label"
                                                                                [ngClass]="{'required': question.required}">{{question.order}}.-
                                                                                {{question.label}}</label>
                                                                            <ng-select [searchable]="false"
                                                                                [multiple]="true">
                                                                                <ng-option
                                                                                    *ngFor="let option of question.options"
                                                                                    [value]="option.value">
                                                                                    {{option.label}}</ng-option>
                                                                            </ng-select>
                                                                        </div>
                                                                    </div>
                                                                    <div
                                                                        class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                        <div *ngIf="question.inputType.label =='radio'"
                                                                            class="mb-3">
                                                                            <label class="form-label"
                                                                                [ngClass]="{'required': question.required}">{{question.order}}.-
                                                                                {{question.label}}</label>
                                                                            <div class="form-check mb-2"
                                                                                *ngFor="let option of question.options">
                                                                                <input type="radio"
                                                                                    class="form-check-input"
                                                                                    name="inputRadio"
                                                                                    [value]="option.value">
                                                                                <label class="form-check-label">
                                                                                    {{option.label}}
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div
                                                                        class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                        <div *ngIf="question.inputType.label =='checkbox'"
                                                                            class="mb-3">
                                                                            <label class="form-label"
                                                                                [ngClass]="{'required': question.required}">{{question.order}}.-
                                                                                {{question.label}}</label>
                                                                            <div class="form-check mb-2"
                                                                                *ngFor="let option of question.options">
                                                                                <input type="checkbox"
                                                                                    class="form-check-input"
                                                                                    [value]="option.value">
                                                                                <label class="form-check-label">
                                                                                    {{option.label}}
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div
                                                                        class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                        <div *ngIf="question.inputType.label =='text'"
                                                                            class="mb-3">
                                                                            <label class="form-label"
                                                                                [ngClass]="{'required': question.required}">{{question.order}}.-
                                                                                {{question.label}}</label>
                                                                            <input type="text" class="form-control">
                                                                        </div>
                                                                    </div>
                                                                    <div
                                                                        class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                        <div *ngIf="question.inputType.label =='email'"
                                                                            class="mb-3">
                                                                            <label class="form-label"
                                                                                [ngClass]="{'required': question.required}">{{question.order}}.-
                                                                                {{question.label}}</label>
                                                                            <input type="text" email
                                                                                class="form-control">
                                                                        </div>
                                                                    </div>
                                                                    <div
                                                                        class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                        <div *ngIf="question.inputType.label =='date'"
                                                                            class="mb-3">
                                                                            <label class="form-label"
                                                                                [ngClass]="{'required': question.required}">{{question.order}}.-
                                                                                {{question.label}}</label>
                                                                            <input type="text" class="form-control">
                                                                        </div>
                                                                    </div>
                                                                    <div
                                                                    class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                    <div *ngIf="question.inputType.label =='number'"
                                                                        class="mb-3">
                                                                        <label class="form-label"
                                                                            [ngClass]="{'required': question.required}">{{question.order}}.-
                                                                            {{question.label}}</label>
                                                                        <input type="text" class="form-control">
                                                                    </div>
                                                                </div>
                                                                    <div
                                                                        class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                        <div *ngIf="question.inputType.label =='textarea'"
                                                                            class="mb-3">
                                                                            <label class="form-label"
                                                                                [ngClass]="{'required': question.required}">{{question.order}}.-
                                                                                {{question.label}}</label>
                                                                            <textarea class="form-control"
                                                                                rows="4"></textarea>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-right mt-3">
                                                        <button type="button" *ngIf="i > 0" class="btn btn-primary"
                                                        (click)="backSection()">Atras</button>
                                                        <button type="button" *ngIf="i < (instrument.sections.length-1)" class="btn btn-primary ms-2 me-2"
                                                        (click)="nextSection()">Siguiente</button>
                                                        <button type="button" *ngIf="i == (instrument.sections.length-1)" class="btn btn-primary ms-2 me-2">Guardar</button>
                                                    </div>

                                                </div>
                                            </section>





                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </li>
                </ul>

                <div [ngbNavOutlet]="defaultNav" class="border border-top-0 p-3"></div>

            </div>
        </div>

    </div>

</div>